alacritty
borgbackup
brightnessctl
fonts-firacode
kanshi
libnotify-bin
libpipewire-0.3-0
lxappearance
mako-notifier
pcmanfm
pipewire
playerctl
ruby-fog-libvirt
sway
swayidle
swayimg
swaylock
vagrant
wireplumber
xdg-desktop-portal
xdg-desktop-portal-wlr
zenity
zsh
