alacritty
bemenu
blueman
borgbackup
brightnessctl
fish
font-firacode
fonts-firacode
fonts-font-awesome
grimshot
kanshi
libnotify-bin
libpipewire-0.3-0
lxappearance
mako-notifier
network-manager
network-manager-openvpn
pavucontrol
pcmanfm
pipewire
playerctl
ruby-libvirt
sway
swayidle
swayimg
swaylock
vagrant
wireplumber
wob
xdg-desktop-portal
xdg-desktop-portal-wlr
xwayland
zenity
zsh
