alacritty
blueman
borgbackup
brightnessctl
fonts-firacode
kanshi
libnotify-bin
libpipewire-0.3-0
lxappearance
mako-notifier
network-manager
network-manager-openvpn
pavucontrol
pcmanfm
pipewire
playerctl
ruby-fog-libvirt
sway
swayidle
swayimg
swaylock
vagrant
wireplumber
xdg-desktop-portal
xdg-desktop-portal-wlr
xwayland
zenity
zsh
